#root {
	-fx-background-color:  linear-gradient(lightgray, gray);
}

#btn1{
	-fx-background-color: radial-gradient(center 50% -40%, radius 200%, #00FFFF 45%, #00BFFF 50%);
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 5 30 5 30;
}

#btn2{
	-fx-background-color:  linear-gradient(greenyellow   , limegreen );
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 5 30 5 30;
   }

#btn3{
	-fx-background-color:	linear-gradient(orange, orangered );
	-fx-text-fill: black;
	-fx-font-size: 20px;
	-fx-padding: 5 30 5 30;
    }

#btn4{
	-fx-text-fill:white;
	-fx-font-size: 20px;
	-fx-background-color: linear-gradient(#999999 0%, #000000 50%, #999999 100%);
	-fx-padding: 5 30 5 30;

    }
